# Belajar Pandas
Berisi Source code belajar Pandas untuk data science

## Basic Information

In [40]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv("https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv")

In [42]:
df.shape

(126314, 23)

In [43]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [44]:
df.head(3)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN

In [45]:
df.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [46]:
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

## Exploring data

In [48]:
df['team_id'].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [49]:
df['fran_id'].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Waterloo          62
Denver            62
Falcons           60
Jets              60
Ironmen           60
Huskies           60
Name: fran_id, dtype: int64

In [50]:
df.loc[df["fran_id"]  == "Lakers", "team_id"].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [51]:
df.loc[df["team_id"] == "MNL", "date_game"].min()

'1/1/1949'

In [52]:
df.loc[df["team_id"] == "MNL", "date_game"].max()

'4/9/1959'

In [53]:
df.loc[df["team_id"] == "MNL", "date_game"].agg(("min", "max"))

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [54]:
df.loc[df["team_id"] == "BOS", "pts"].sum()

626484

In [105]:
df.loc[5555:5559, ["team_id", "fran_id"]]

     team_id  fran_id
5555     FTW  Pistons
5556     BOS  Celtics
5557     NYK   Knicks
5558     ROC    Kings
5559     SYR   Sixers

In [55]:
df.axes

[RangeIndex(start=0, stop=126314, step=1),
 Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
        'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
        'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
        'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
       dtype='object')]

## Pandas Structures

In [104]:
items = pd.DataFrame([[1,3.5], [2], [7,5.5]], index=["Healing Potion", "Lighting Potion", "Power Potion"], columns=["Duration", "Health"])
items

                 Duration  Health
Healing Potion          1     3.5
Lighting Potion         2     NaN
Power Potion            7     5.5

In [62]:
revenue = pd.Series([8000,7500,10000])
revenue

0     8000
1     7500
2    10000
dtype: int64

In [63]:
revenue.values

array([ 8000,  7500, 10000], dtype=int64)

In [64]:
revenue.index

RangeIndex(start=0, stop=3, step=1)

In [65]:
city_revenues = pd.Series([4200, 8000, 6500], index=['Amsterdam', 'Toronto', 'Tokyo'])
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

In [66]:
city_employe_counts = pd.Series({"Amsterdam":5, "Tokyo":8})
city_employe_counts

Amsterdam    5
Tokyo        8
dtype: int64

In [67]:
city_data = pd.DataFrame({
    "revenue" : city_revenues,
    "employee_counts" : city_employe_counts
})
city_data

           revenue  employee_counts
Amsterdam     4200              5.0
Tokyo         6500              8.0
Toronto       8000              NaN

In [68]:
city_data.index

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [69]:
city_data.keys

<bound method NDFrame.keys of            revenue  employee_counts
Amsterdam     4200              5.0
Tokyo         6500              8.0
Toronto       8000              NaN>

In [70]:
city_data.axes[0]

Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object')

In [71]:
city_data.loc["Amsterdam"]

revenue            4200.0
employee_counts       5.0
Name: Amsterdam, dtype: float64

In [72]:
city_data.loc["Amsterdam":"Toronto"]

           revenue  employee_counts
Amsterdam     4200              5.0
Tokyo         6500              8.0
Toronto       8000              NaN

In [73]:
city_data.loc["Amsterdam":"Toronto", "employee_counts"]

Amsterdam    5.0
Tokyo        8.0
Toronto      NaN
Name: employee_counts, dtype: float64

### Perbedaan .loc & .iloc

.loc() akan mengambil LABEL pada urutan 1
Sedangkan
.iloc() akan mengambil INDEKS pada urutan 1

In [75]:
colors = pd.Series(["Red", "Yellow", "Green", "Blue", "Purple"], index=(1,2,3,4,5))
colors

1       Red
2    Yellow
3     Green
4      Blue
5    Purple
dtype: object

In [76]:
colors.loc[1]

'Red'

In [77]:
colors.iloc[1]

'Yellow'

In [78]:
colors.iloc[1:3]

2    Yellow
3     Green
dtype: object

## Querying Dataset

In [106]:
df_decade = df[df["year_id"] > 2010]
df_decade

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
113656,56829,201010260BOS,NBA,1,2011,10/26/2010,1,0,MIA,Heat,...,45.141479,BOS,Celtics,88,1625.0994,1629.3031,A,L,0.264418,NaN
113657,56829,201010260BOS,NBA,0,2011,10/26/2010,1,0,BOS,Celtics,...,53.754559,MIA,Heat,80,1547.3638,1543.1600,H,W,0.735582,NaN
113658,56830,201010260LAL,NBA,1,2011,10/26/2010,1,0,HOU,Rockets,...,40.900764,LAL,Lakers,112,1647.6016,1649.2002,A,L,0.197632,NaN
113659,56830,201010260LAL,NBA,0,2011,10/26/2010,1,0,LAL,Lakers,...,55.608730,HOU,Rockets,110,1504.1956,1502.5969,H,W,0.802368,NaN
113660,56831,201010260POR,NBA,1,2011,10/26/2010,1,0,PHO,Suns,...,53.879230,POR,Trailblazers,106,1552.8141,1565.2162,A,L,0.485912,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [107]:
df_decade.shape

(12658, 23)

In [108]:
games_with_notes = df[df["notes"].notnull()]
games_with_notes.shape

(5424, 23)

In [109]:
# Untuk memfilter data dan menemukan semua game yang nama tim tuan rumah diakhir dengan "ers"
ers = df[df["fran_id"].str.endswith("ers")]
ers.shape

(27797, 23)

In [110]:
Balimotre = df[
    (df["_iscopy"] == 0) &
    (df['pts'] > 100) &
    (df['opp_pts'] > 100) &
    (df['team_id'] == "BLB")
]

Balimotre

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1726,864,194902260BLB,NBA,0,1949,2/26/1949,53,0,BLB,Baltimore,...,38.557545,MNL,Lakers,115,1637.9852,1640.4923,H,L,0.338936,NaN
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,...,25.797792,BOS,Celtics,105,1591.1434,1563.1652,H,W,0.281855,NaN
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,...,24.876236,MNL,Lakers,112,1665.4396,1668.9125,H,L,0.224238,NaN
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,...,19.579676,NYK,Knicks,113,1649.1516,1651.4359,H,L,0.178973,at Boston MA
5825,2913,195402220BLB,NBA,0,1954,2/22/1954,60,0,BLB,Baltimore,...,20.736986,BOS,Celtics,111,1591.4943,1593.2749,H,L,0.253365,at Worcester MA

In [111]:
df[
    (df["_iscopy"] == 0) &
    (df["team_id"].str.startswith("LA")) &
    (df["year_id"] == 1992) &
    (df["notes"].notnull())
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
68901,34451,199205030LAC,NBA,0,1992,5/3/1992,86,1,LAC,Clippers,...,47.888252,UTA,Jazz,107,1647.5092,1638.4095,H,W,0.499125,"at Anaheim, CA (Anaheim Convention Center)"
68903,34452,199205030LAL,NBA,0,1992,5/3/1992,86,1,LAL,Lakers,...,39.395412,POR,Trailblazers,102,1655.1210,1670.3677,H,L,0.406874,"at Las Vegas, NV"

## Grouping & Aggregating

In [79]:
points = df["pts"]
points.sum()

12976235

In [80]:
df.groupby("fran_id", sort=False)["pts"].sum()

fran_id
Huskies           3995
Knicks          582497
Stags            20398
Falcons           3797
Capitols         22387
Celtics         626484
Steamrollers     12372
Ironmen           3674
Bombers          17793
Rebels            4474
Warriors        591224
Baltimore        37219
Jets              4482
Pistons         572758
Lakers          637444
Kings           569245
Hawks           567261
Denver            4818
Olympians        22864
Redskins          5372
Waterloo          4921
Packers           6193
Sixers          585891
Wizards         474809
Bulls           437269
Thunder         437735
Squires          91127
Stars            84940
Rockets         432504
Colonels         94435
Pacers          438288
Nuggets         445780
Spurs           453822
Spirits          85874
Sounds           75582
Floridians       49568
Nets            417809
Condors          49642
Bucks           418326
Suns            437486
Clippers        380523
Cavaliers       380416
Trailblazers    402695
Sails            30080
Jazz            363155
Mavericks       309239
Pelicans        220794
Heat            229103
Timberwolves    207693
Magic           219436
Grizzlies       157683
Raptors         158370
Hornets          84489
Name: pts, dtype: int64

In [81]:
df[
    (df["fran_id"] == "Spurs") &
    (df["year_id"] < 2010)
].groupby(["year_id", "game_result"])["game_id"].count()

year_id  game_result
1968     L              36
         W              50
1969     L              41
         W              44
1970     L              43
                        ..
2007     W              74
2008     L              34
         W              65
2009     L              32
         W              55
Name: game_id, Length: 84, dtype: int64

In [82]:
df[
    (df["fran_id"] == "Warriors") &
    (df["year_id"] == 2015)
].groupby(["is_playoffs", "game_result"])["game_id"].count()

is_playoffs  game_result
0            L              15
             W              67
1            L               5
             W              16
Name: game_id, dtype: int64

## Manipulating columns

add dan drop sebagai bagian awal dari fase cleaning

In [83]:
nba = df.copy()

In [84]:
nba.shape

(126314, 23)

In [85]:
nba["difference"] = df.pts - df.opp_pts
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,...,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,...,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,...,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,...,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,...,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [86]:
nba["difference"].max()

68

In [87]:
renamed_nba = nba.rename(columns={"game_result" : "result", "game_location" : "location"}, inplace=False)
renamed_nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,location,result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17

In [88]:
# Error karena kolom-nya sudah dihapus
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]
nba.drop(elo_columns, inplace=True, axis=1)

In [89]:
nba.shape

(126314, 20)

## Specifying data type

In [90]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  object
 16  game_result    126314 non-null  object
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  difference     126314 non-null  int64
dtypes: float64(2), int64(8), object(10)
memory usage: 19.3+ MB

In [91]:
nba["date_game"] = pd.to_datetime(nba["date_game"])

In [92]:
nba["game_location"].nunique()

3

In [93]:
nba["game_location"].value_counts()

H    63138
A    63138
N       38
Name: game_location, dtype: int64

In [94]:
nba["game_location"] = pd.Categorical(nba["game_location"])
nba["game_location"].dtype

CategoricalDtype(categories=['A', 'H', 'N'], ordered=False)

In [95]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  datetime64[ns]
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  category
 16  game_result    126314 non-null  object
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  difference     126314 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(8), object(8)
memory usage: 18.4+ MB

## Missing value
Hal yang sering terjadi ketika menganalisis sebuah data di csv

In [96]:
# pada kolom notes hanya ada 5424 data yang not null
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  datetime64[ns]
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  object
 13  opp_fran       126314 non-null  object
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  category
 16  game_result    126314 non-null  object
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  difference     126314 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(2), int64(8), object(8)
memory usage: 18.4+ MB

In [97]:
# Cara termudah menangani missing value adalah mengabaikannya (tetapi tidak logis/masuk akal)
rows_without_missing_data = nba.dropna()
rows_without_missing_data.shape

(5424, 20)

In [98]:
data_without_missing_columns = nba.dropna(axis=1)
data_without_missing_columns.shape

(126314, 19)

In [99]:
# Cara kedua adalah dengan memberi nilai default
data_with_default_notes = nba.copy()

In [100]:
data_with_default_notes["notes"].fillna(value="no notes at all", inplace=True)
data_with_default_notes["notes"].describe()

count              126314
unique                232
top       no notes at all
freq               120890
Name: notes, dtype: object

## Invalid values
Lebih penting dan berdampak daripada missing value

Invalid values lebih sulit untuk dideteksi, tetapi dapat melakukan pemeriksaan menggunakan query dan aggregasi.

In [101]:
# Satu hal yang dapat kita lakukan adalah memvalidasi rentang data, menggunakan .describe()
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,win_equiv,opp_pts,forecast,difference
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,41.707889,102.729982,0.500000,0.000000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,10.627332,14.814845,0.215252,13.374599
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,10.152501,0.000000,0.020447,-68.000000
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,34.103035,93.000000,0.327989,-9.000000
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,42.113357,103.000000,0.500000,0.000000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,49.635328,112.000000,0.672011,9.000000
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,71.112038,186.000000,0.979553,68.000000

In [102]:
# Jika melihat anomali dapat di cari kenapa hal tersebut terjadi
nba[nba["pts"] == 0]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,win_equiv,opp_id,opp_fran,opp_pts,game_location,game_result,forecast,notes,difference
26684,13343,197210260VIR,ABA,1,1973,1972-10-26,7,0,DNR,Nuggets,0,40.408863,VIR,Squires,2,A,L,0.328948,at Richmond VA; forfeit to VIR,-2

In [103]:
# baris tersebut sepertinya forfeited dan kita akan menghapus-nya
nba.drop("26684", axis=0) # untuk menghapus baris

KeyError: "['26684'] not found in axis"

In [ ]:
# pts, opp_pts dan game_result harus konsisten satu sama lain
nba[(nba["pts"] > nba["opp_pts"]) & (nba["game_result"] != "W")].empty

In [ ]:
nba[(nba["pts"] < nba["opp_pts"]) & (nba["game_result"] != "L")].empty

Bersiaplah untuk kejutan setiap kali bekerja dengan data mentah, terutama jika kumpulan data tersebut dikumpulkan dari sumber berbeda.

## Combining multiple datasets

In [ ]:
further_city_data = pd.DataFrame(
    {
    "revenue": [7000,3800], 
    "employee_counts" : ["2","3"]
}, 
    index=["Barcelona","Roma"])

further_city_data

In [ ]:
city_data

In [ ]:
all_city_data = pd.concat([city_data, further_city_data], sort=False)
all_city_data

Secara default, concat() akan menambahkan baris atau axis = 0, kita juga dapat menambahkan-nya ke kolom dengan axis = 1

In [ ]:
city_countries = pd.DataFrame({
    "country" : ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital" : [1,1,0,0,0]
}, index=["Amsterdam","Tokyo", "Rotterdam", "Toronto", "Barcelona"])

city_countries

In [ ]:
cities = pd.concat([all_city_data, city_countries], axis=1, sort=True)
cities

Jika kita ingin menggabungkan hanya kota yang muncul di kedua objek DataFrame. Maka dapat mengatur parameter join menjadi inner

In [ ]:
pd.concat([all_city_data, city_countries], axis=1, join="inner")

Menggabungkan data dengan indeks adalah hal yang mudah namun bukan satu satu-nya cara. kita dapat menggunakan merge()

In [ ]:
countries = pd.DataFrame(
    {
        "population_millions" : [17, 227, 30],
        "continent" : ["Europe", "Asia", "North America"]
    }, index=["Holland", "Indonesia", "Canada"]
)

countries

In [ ]:
cities

In [ ]:
pd.merge(cities, countries, left_on="country", right_index=True)

Pada code diatas kita meneruskan parameter left_on = "country ke .merge() untuk menunjukkan kolom mana yang ingin kalian join. DataFrame menjadi lebih besar dan tidak hanya berisi Kota tetapi juga Populasi & Benua.

Perbedaan dengan .merge(), secara default melakukan inner join.

Selain itu jika diperhatikan, tabel diatas hanya menampilkan kota-kota dimana negara tersebut dikenal & muncul di DataFrame yang digabungkan.

Jika kalian ingin menampilkan seluruh data kota dapat menggunakan parameter how

In [ ]:
pd.merge(
    cities,
    countries,
    left_on="country",
    right_index=True,
    how="left"
)

## Visualization data

In [ ]:
%matplotlib inline

In [ ]:
nba

In [ ]:
nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].sum().plot()

In [ ]:
nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].sum()

In [ ]:
nba["fran_id"].value_counts().head(10).plot(kind="bar")

In [ ]:
nba["fran_id"].value_counts().head(60)