In [1]:
# Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [2]:
# in Operators

s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [3]:
# Case Conversion
s = 'HackTIV8 iNAlum'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8 inalum
hacktiv8 inalum
hACKtiv8 InaLUM
Hacktiv8 Inalum
HACKTIV8 INALUM

In [4]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [5]:
# Dictionary
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [ ]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Royals',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins',
 'Seattle': 'Mariners'}

In [ ]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Royals',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins',
 'Seattle': 'Seahawks'}

In [ ]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLB_team['Seattle']
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Royals',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins'}

In [6]:
# Dictionary Incrementally
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
person

{'fname': 'Hack',
 'lname': 'Inalum',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [ ]:
print(person['fname'])
print(person['lname'])

Hack
Inalum

In [ ]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [ ]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [ ]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [ ]:
#Line Continuation
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True