# Pandas for data science
Materi tentang Pandas untuk Data science

In [1]:
import pandas as pd
import numpy as np

In [3]:
datanp = np.array(['a', 'b', 'c', 'd', 'e'])
dts = pd.Series(datanp)
dts

0    a
1    b
2    c
3    d
4    e
dtype: object

In [2]:
datanp = np.array(['a', 'b', 'c', 'd', 'e'])
dts = pd.Series(datanp, index=[10,11,12,13,14])
dts

10    a
11    b
12    c
13    d
14    e
dtype: object

In [5]:
datadict = {'a':0.7, 'b':2., 'c':0.5, 'd':4., 'e':5.5}
dtsdict = pd.Series(datadict)
dtsdict

a    0.7
b    2.0
c    0.5
d    4.0
e    5.5
dtype: float64

In [7]:
datadict = {'a':0.7, 'b':2., 'c':0.5, 'd':4., 'e':5.5}
dtsdict = pd.Series(datadict, index=['a', 'b', 'e', 'f'])
dtsdict

a    0.7
b    2.0
e    5.5
f    NaN
dtype: float64

In [9]:
dtsscalar = pd.Series(5, index=[0,1,2,3,4,5,6,7,8,9,10,11])
dtsscalar

0     5
1     5
2     5
3     5
4     5
5     5
6     5
7     5
8     5
9     5
10    5
11    5
dtype: int64

In [14]:
datanp = np.array(['a', 'b', 'c', 'd', 'e'])
dts = pd.Series(datanp)
print(dts[0])
print(dts[:3])

a
0    a
1    b
2    c
dtype: object

In [15]:
datanp = np.array([10, 20, 30, 40, 50])
dts = pd.Series(datanp, index=['a', 'b', 'c', 'd', 'e'])
dts

a    10
b    20
c    30
d    40
e    50
dtype: int32

In [18]:
print(dts['d'])
print(dts['d' : 'e'])

40
d    40
e    50
dtype: int32

In [20]:
dts.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [27]:
dts.loc

In [21]:
dts.iloc

In [24]:
dats = pd.Series([1,2,3,4,5,6], index=[1,2,3,6,7,9])
dats.index

Int64Index([1, 2, 3, 6, 7, 9], dtype='int64')

## Data frame

In [33]:
datadict = {
    'name': ['Budi', 'Imawan', 'joko', 'Juadi'],
    'age': [8,20,35,12],
    'address': ['Jakarta', 'Surabaya', 'Kalimantan', 'Madura'],
    'school': ['SD', 'Work', 'Work', 'SMP']
}

df = pd.DataFrame(datadict)
df

     name  age     address school
0    Budi    8     Jakarta     SD
1  Imawan   20    Surabaya   Work
2    joko   35  kalimantan   Work
3   Juadi   12      Madura    SMP

In [42]:
# df[['name', 'school']]
df.loc[df['address'] == 'kalimantan']

   name  age     address school
2  joko   35  kalimantan     SD

In [44]:
for i,j in df.iterrows():
    print(i,j)

0 name          Budi
age              8
address    Jakarta
school          SD
Name: 0, dtype: object
1 name         Imawan
age              20
address    Surabaya
school           SD
Name: 1, dtype: object
2 name             joko
age                35
address    kalimantan
school             SD
Name: 2, dtype: object
3 name        Juadi
age            12
address    Madura
school         SD
Name: 3, dtype: object

In [45]:
dfangka = pd.DataFrame({'x':[1,2], 'y':[3,4], 'z':[5,6]})
dfangka

   x  y  z
0  1  3  5
1  2  4  6

In [46]:
def square(x):
    return x * x

dfsquare = dfangka.apply(square)
dfsquare

   x   y   z
0  1   9  25
1  4  16  36

In [ ]:
pip install requests

In [ ]:
import requests

In [ ]:
import dtale